<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= t "errors.the_form_contains", count: object.errors.count  %>.
    </div>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li class="erros-messages"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
