<div class="container bootdey">
  <div class="panel panel-default panel-order">
    <div class="panel-heading">
      <strong><%= t("order.order_history") %></strong>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-1"><img src="https://bootdey.com/img/Content/user_3.jpg" class="media-object img-thumbnail" /></div>
        <div class="col-md-11">
          <%= render @orders %>
        </div>
      </div>
    </div>
  </div>
</div>
