@import "bootstrap";
@import "font-awesome";

$black_color: black;
$white_color: #fff;
$border-color: #e1e6ef;
$text-color: #151b1e;

/* Header */
.logo {
  font-size: 25px !important;
}

.nav-link {
  font-size: 15px;
  margin: 0px 5px;
}

.dropdown-item {
  font-size: 15px;
  color: $black_color;
}

/* dashboard */
.email-app {
  display: flex;
  flex-direction: row;
  background: $white_color;
  border: 1px solid $border-color;
}

.email-app nav {
  flex: 0 0 250px;
  padding: 1rem;
  border-right: 1px solid $border-color;
}

.email-app nav .btn-block {
  margin-bottom: 15px;
}

.email-app nav .nav {
  flex-direction: column;
}

.email-app nav .nav .nav-item {
  position: relative;
}

.email-app nav .nav .nav-item .nav-link,
.email-app nav .nav .nav-item .navbar .dropdown-toggle,
.navbar .email-app nav .nav .nav-item .dropdown-toggle {
  color: $text-color;
  border-bottom: 1px solid $border-color;
}

.email-app nav .nav .nav-item .nav-link i,
.email-app nav .nav .nav-item .navbar .dropdown-toggle i,
.navbar .email-app nav .nav .nav-item .dropdown-toggle i {
  width: 20px;
  margin: 0 10px 0 0;
  font-size: 14px;
  text-align: center;
}

.email-app nav .nav .nav-item .nav-link .badge,
.email-app nav .nav .nav-item .navbar .dropdown-toggle .badge,
.navbar .email-app nav .nav .nav-item .dropdown-toggle .badge {
  float: right;
  margin-top: 4px;
  margin-left: 10px;
}

@media (max-width: 767px) {
  .email-app {
    flex-direction: column;
  }
  .email-app nav {
    flex: 0 0 100%;
  }
}

/* Approved/Reject order */
.track_tbl tbody tr:first-child td.track_dot span.track_line {
  top: 30px;
  min-height: 25px;
}
.track_tbl tbody tr:last-child td.track_dot span.track_line {
  top: 0;
  min-height: 25px;
  height: 10%;
}

/* Paginate */
#paginate {
  display: flex;
  justify-content: center;
  margin-top: 25px
}

 /* Sidebar manage */
#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.4rem;
  font-weight: 700;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.li-custom {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-admin-custom, .item-sidebar-custom {
  background-color: #374250 ;
  color: #fff;
}

.item-sidebar-custom:hover {
  background-color: #dae0e5 !important;
}

.sidebar-custom .ul-sidebar-custom>li.active>.item-sidebar-custom,
.sidebar-custom .ul-sidebar-custom>li.active>.item-sidebar-custom:visited {
  color: red;
  background-color: red !important;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

// Manage Users
.admin_user_images img{
  width: 30px;
  height: 30px;
}

.block {
  background-color: #ff9f1a;
  border-color: #ff9f1a;
}

.block:hover {
  background-color: #b47011;
  border-color: #b47011;
}
