<% provide(:title, t("search.title")) %>
<div class="container text-center">
  <hr>
    <h1><%= t "search.result_search" %></h1>
  <hr>
  <div class="row">
    <%= render @products %>
  </div>
  <div id="paginate">
    <%= will_paginate @products, theme: "twitter-bootstrap-3" %>
  </div>
</div>
