<div class="container">
  <div class="email-app">
    <nav>
      <%= link_to  t("admin.dashboard"), admin_root_path, class: "btn btn-danger btn-block" %>
      <ul class="nav">
        <li class="nav-item">
          <%= link_to  t("admin.manage_order"), admin_orders_path, class: "nav-link" %>
        </li>
      </ul>
    </nav>
  </div>
</div>
