<footer>
  <div class="navbar navbar-inverse navbar-dark bg-dark nav-navbar-light">
    <div class="container">
      <p class="navbar-text pull-left copy-right"><%= t("footer.copy_right") %>
      </p>
      <ul class="list-unstyled list-inline social text-center">
        <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-twitter"></i></a></li>
        <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-facebook"></i></a></li>
        <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-instagram"></i></a></li>
        <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-google-plus"></i></a></li>
        <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02" target="_blank"><i class="fa fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
</footer>
